*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #ffbc00;
}
.section{
    min-height: 100vh;
    padding-top: 100px;
}
.container{
    max-width: 1440px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 20px;
    padding-right: 20px;
}

h1{
    font-size: 40px;
    margin-bottom: 50px;
    color: aliceblue;
    text-align: center;
}

.accordion{
    max-width: 700px;
    margin: auto ;
}
.accordion-item{
    border: 1px rgb(0, 10, 4) solid;
    padding: 20px;
}

.accordion-title{
    display: flex;
    align-items: center;
    gap: 10px;
    padding-bottom: 30px;
}
.accordion-title h3{
    flex: 1;
    font-size: 25px;
}

.accordion-title i{
    font-size: 30px;
    cursor: pointer;
}

.accordion-content{
    display: none;
}

.accordion-title.active + .accordion-content {
    display: block;
    padding-top: 20px;
    font-weight: 600;
}
.accordion-content p{
    font-size: 20px;
    color: 
    #242145;
}

.accordion-title.active i {
    transform: rotate(180deg);
}

.accordion-title.active {
    border-bottom: 2px solid rgb(0, 0, 0);
}